
body{ background-color: whitesmoke;
    background-size: cover;}


header img{

    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    display: flex;
    justify-content: stretch;
    z-index: -1;

}

#container{

    display: flex;
    flex-direction: column;


}

.form-group{

    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    align-content: center;
}


#buscador{

    display: flex;
}

.row{

    display: flex;
    justify-content: space-around;

}

.col-sm{

    display: flex;
    justify-content: space-between;

}